{
	"tabWidth": 4,
	"singleQuote": true,
	"bracketSameLine": true,
	"bracketSpacing": true,
	"useTabs": true,
	"trailingComma": "es5",
	"printWidth": 120,
	"importOrder": [
		"^(react|@reduxjs/toolkit|redux-persist|redux-persist/lib/storage|clsx|dayjs|react-router-dom|i18next|yup|react-i18next)$",
		"api",
		"store",
		"screens",
		"components",
		"hooks",
		"helpers",
		"^[./]",
		"constants",
		"types|schemas",
		"assets",
		"^[a-zA-Z]$"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"importOrderCaseInsensitive": true
}
